{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Мои заказы
{% endblock %}

{% block content %}
    <h1>Мои заказы</h1>
  <p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">Добавить ещё товар</a>
  </p>

  <table class="cart">
    <thead>
      <tr>
        <th></th>
        <th>Товар</th>
        <th>Кол-во</th>
        <th>Цена за шт</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <body>
      {% for item in order %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">{{ item.price }}р</td>
            <td class="num">{{ item.total_price }}р</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }}р</td>
      </tr>
    </body>
  </table>
<div>

</div>

{% endblock %}