{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<div class="client-data">
    <h1>Оформеление заказа</h1>
    <p class="ord">Общая стоимость {{ cart.get_total_price }}р</p>
<form action="#">
  <div class="container">

    <label for="telephon"><b>Телефон</b></label>
    <input type="text" placeholder="Введите телефон" name="telephon" required><br><br>

    <label for="name"><b>Имя</b></label>
    <input type="text" placeholder="Введите имя" name="name" required><br><br>

    <label for="adres"><b>Адрес</b></label>
    <input type="text" placeholder="Введите адрес доставки" name="adres" required>
      <a href="#" class="button-data">Оформить заказ</a>
  </div>
</form>
</div>
  <p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">Добавить ещё товар</a>


  </p>
  <table class="cart">
    <thead>
      <tr>
        <th>Картинка</th>
        <th>Товар</th>
        <th>Кол-во</th>
        <th>Цена за шт</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">{{ item.price }}р</td>
            <td class="num">{{ item.total_price }}р</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }}р</td>
      </tr>
    </tbody>
  </table>

{% endblock %}